<mat-toolbar class="d-flex justify-content-between" color="primary">
  <h3>EmploYES</h3>
  <ul class="nav d-flex gap-2 justify-content-center">
    <li class="nav-item">
      <a
        class="text-white text-decoration-none nav-link"
        routerLink="/table"
        routerLinkActive="btn btn-primary"
        >Table</a
      >
    </li>
    <li class="nav-item">
      <a
        class="text-white text-decoration-none nav-link"
        routerLink="/create"
        routerLinkActive="btn btn-primary"
        >Create</a
      >
    </li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
